body {
    background: #333;
    height: 100vh;
    height: 100%;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    margin: 40px 0 0 0;
}

p {
    text-align: center;
    color: #fff;
    margin: 20px 0 20px 0;
    color: rgb(255, 238, 0);
    font-weight: bold;
    font-size: 14px;
}

.game-container {
    display: flex;
    margin: 0 auto;
    max-width: 270px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.field {
    all: unset;
    background: rgb(110, 110, 110);
    width: 80px;
    height: 80px;
    border-radius: 10px;
    margin: 5px;
    color: rgb(255, 238, 0);
    font-size: 60px;
    line-height: 1;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: 600ms;
}

.reset {
    all: unset;
    background: rgb(255, 238, 0);
    color: #333;
    padding: 12px 20px;
    display: block;
    margin: 40px auto;
    font-weight: 700;
    cursor: pointer;
}